@page
@model Final_Project_in_Asp.net_MVC_2021.Pages.About3Model
@{
}

<section>
    <div id="menuBars" class="fas fa-bars"></div>
    <a asp-page="/Index"><img id="myLogo" src="~/Images/myLogo3.jpg" alt="No Image" /></a>
    <p class="myLogoName">MY ABOUT</p>

    <div id="about3">
        <h1>MY SKILLS</h1>
        <div class="my_skills1">
            <p>95%</p>
            <div class="mySkills1">
            </div>
            <h5>Wire Frame Design</h5>
        </div>

        <div class="my_skills2">
            <p>85%</p>
            <div class="mySkills2">
            </div>
            <h5>Front End Development</h5>
        </div>

        <div class="my_skills3">
            <p>80%</p>
            <div class="mySkills3">
            </div>
            <h5>Back End Development</h5>
        </div>

        <div class="my_skills4">
            <p>75%</p>
            <div class="mySkills4">
            </div>
            <h5>UI Design</h5>
        </div>

        <div class="my_skills5">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui mi, suscipit id sodales et, euismod dignissim est. Mauris ut
                mi non augue facilisis tincidunt id aliquet turpis.
            </p>
            <a asp-page="/Contact"><input class="myButton" value="CONTACT ME"/></a>
        </div>
    </div>
    <div class="walkingLetter">
        <a asp-page="/About1">
            <div class="walking_letter">
                <img src="~/Images/myArrow.png" alt="No Imges" />
            </div>
        </a>
    </div>
</section>