@page
@model Final_Project_in_Asp.net_MVC_2021.Pages.Experience1Model
@{
}

<section>
    <div id="menuBars" class="fas fa-bars"></div>
    <a asp-page="/Index"><img id="myLogo" src="~/Images/myLogo3.jpg" alt="No Image" /></a>
    <p class="myLogoName">EXPERIENCE</p>

    <div class="experience1">
        <div class="experience_1">
            <div class="exper_ience">
                <p>April 2019 - January 2020</p>
                <p><strong>Machine Operator</strong> Dart Canada / 2121 Markham Rd., Scarborough, ON., M1B2W3</p>
                <br />
            </div>
            <div class="job">
                <p>Job Description:</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="walkingExper">
        <a asp-page="/About2">
            <div class="walking_letter">
                <img src="~/Images/myArrow.png" alt="No Imges" />
            </div>
        </a>
    </div>
</section>