@page
@model Final_Project_in_Asp.net_MVC_2021.Pages.ServicesModel
@{
}

<section>
    <div id="menuBars" class="fas fa-bars"></div>
    <a asp-page="/Index"><img id="myLogo" src="~/Images/myLogo3.jpg" alt="No Image" /></a>
    <p class="myLogoName">MY SERVICES</p>

    <div class="myServices">
        <div class="myServices1">
            <p class="tittle">WEB DESIGN</p>
            <a asp-page="/WebDesign">
                <div class="my_services1">
                    <img src="~/Images/webDesign.jpg" alt="No Image" />
                </div>
            </a>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                dui mi, suscipit id sodales et, euismod dignissim est. Mauris ut
                mi non augue facilisis tincidunt id aliquet turpis. Ut cursus porttitor
                quam, sit amet pharetra augue mollis quis. Nulla quis nunc nunc.
                Donec et nisi eget orci dictum molestie. Aliquam erat volutpat.
                Quisque mattis leo vel quam imperdiet, et pellentesque dui aliquam.
                Etiam imperdiet velit mi. Nullam egestas dictum metus, non.
            </p>
        </div>
        <div class="myServices2">
            <p class="tittle">GRAPHIC DESIGN</p>
            <a asp-page="/GraphicDesign">
                <div class="my_services2">
                    <img src="~/Images/graphicDesign.jpg" alt="No Image" />
                </div>
            </a>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                dui mi, suscipit id sodales et, euismod dignissim est. Mauris ut
                mi non augue facilisis tincidunt id aliquet turpis. Ut cursus porttitor
                quam, sit amet pharetra augue mollis quis. Nulla quis nunc nunc.
                Donec et nisi eget orci dictum molestie. Aliquam erat volutpat.
                Quisque mattis leo vel quam imperdiet, et pellentesque dui aliquam.
                Etiam imperdiet velit mi. Nullam egestas dictum metus, non.
            </p>
        </div>
        <div class="myServices3">
            <p class="tittle">RESPONSIVE DESIGN</p>
            <a asp-page="/ResponsiveDesign">
                <div class="my_services3">
                    <img src="~/Images/responsivDesign.jpg" alt="No Image" />
                </div>
            </a>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                dui mi, suscipit id sodales et, euismod dignissim est. Mauris ut
                mi non augue facilisis tincidunt id aliquet turpis. Ut cursus porttitor
                quam, sit amet pharetra augue mollis quis. Nulla quis nunc nunc.
                Donec et nisi eget orci dictum molestie. Aliquam erat volutpat.
                Quisque mattis leo vel quam imperdiet, et pellentesque dui aliquam.
                Etiam imperdiet velit mi. Nullam egestas dictum metus, non.
            </p>
        </div>
    </div>    
</section>