@page
@model Final_Project_in_Asp.net_MVC_2021.Pages.About1Model
@{
}

<section id="about1">
    <div id="menuBars" class="fas fa-bars"></div>
    <a asp-page="/Index"><img id="myLogo" src="~/Images/myLogo3.jpg" alt="No Image" /></a>
    <p class="myLogoName">MY ABOUT</p>

    <div class="myAbout1">
        <div class="About1_left">
            <h3>HELLO, My Name is <i>JOHN.</i></h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui mi, suscipit id sodales et,
                euismod dignissim est. Mauris ut mi non augue facilisis tincidunt id aliquet turpis. Ut cursus
                porttitor quam, sit amet pharetra augue mollis quis. Nulla quis nunc nunc. Donec et nisi
                eget orci dictum molestie. Aliquam erat volutpat. Quisque mattis leo vel quam imperdiet,
                et pellentesque dui aliquam. Etiam imperdiet velit mi. Nullam egestas dictum metus, non
                ultrices tellus condimentum ut. Nulla facilisi. Cras id ornare ante. Phasellus at turpis quis
                elit vestibulum tempor sit amet in leo.
            </p>
            <a asp-page="/Contact"><input asp-page="/Contact" class="myButton" value="HIRE ME"></a>

            <div class="About1Left">
                <div class="l_left">
                    <p>Age: 32</p>
                    <p>Gender: Male</p>
                    <p>Language: Tagalog and English</p>
                    <p>Freelance: Available</p>
                </div>
                <div class="l_right">
                    <p>Phone #: 1 647 389 0589</p>
                    <p>Email: test.johnaliah0529@gmail.com</p>
                    <p>Country: Canada</p>
                </div>
            </div>
        </div>     
        <div class="about1A">
            <div class="about1B">
                <div class="About1_right">
                    <div class="my_image">
                        <img class="myImage" src="~/Images/myPic2.jpg" alt="No Images" style=" width: 100%;" />
                    </div>
                </div>
            </div>
        </div>      
    </div>

    <div class="walkingLetter">      
        <a asp-page="/About2">
            <div class="walking_letter">
                <img src="~/Images/myArrow.png" alt="No Imges" />
            </div>
        </a>
    </div>
</section>

