@page
@model Final_Project_in_Asp.net_MVC_2021.Pages.GraphicDesignModel
@{
}
<section>
    <div id="menuBars" class="fas fa-bars"></div>
    <a asp-page="/Index"><img id="myLogo" src="~/Images/myLogo3.jpg" alt="No Image" /></a>
    <p class="myLogoName">GRAPHIC DESIGN</p>


    <div class="myGraphicDesign">
        <div class="graphicDesign1">
            <div class="graphic_design1"></div>
            <div class="graphic_design2"></div>
            <div class="graphic_design3"></div>
        </div>
        <div class="graphicDesign2">
            <div class="graphic_design4"></div>
            <div class="graphic_design5"></div>
            <div class="graphic_design6"></div>
        </div>
        <div class="webDesign3">
            <div class="graphic_design7"></div>
            <div class="graphic_design8"></div>
            <div class="graphic_design9"></div>
        </div>
    </div>

    <div class="walkingLetter">
        <a asp-page="/SignUp">
            <div class="walking_letter">
                <img src="~/Images/logOut.jpg" alt="No Imges" />
            </div>
        </a>
    </div>
</section>
