@page
@model Final_Project_in_Asp.net_MVC_2021.Pages.ResponsiveDesignModel
@{
}

<section>
    <div id="menuBars" class="fas fa-bars"></div>
    <a asp-page="/Index"><img id="myLogo" src="~/Images/myLogo3.jpg" alt="No Image" /></a>
    <p class="myLogoName">RESPONSIVE DESIGN</p>

    <div class="myResponsive">
        <ul>
            <li>
                <div class="my_responsive">
                    <p>MOBILE</p>
                </div>
            </li>

            <li>
                <div class="my_responsive">
                    <p>TABLET</p>
                </div>
            </li>

            <li>
                <div class="my_responsive">
                    <p>LOPTOP</p>
                </div>
            </li>

        </ul>
    </div>


    <div class="walkingLetter">
        <a asp-page="/SignUp">
            <div class="walking_letter">
                <img src="~/Images/logOut.jpg" alt="No Imges" />
            </div>
        </a>
    </div>
</section>
