@page
@model Final_Project_in_Asp.net_MVC_2021.Pages.ResumeModel
@{
}

<section>
    <div id="menuBars" class="fas fa-bars"></div>
    <a asp-page="/Index"><img id="myLogo" src="~/Images/myLogo3.jpg" alt="No Image" /></a>
    <p class="myLogoName">MY RESUME</p>

    <div class="my_resume">
        <div class="resumeName">
            <h1>John Almirol</h1>
            <p>Scarborough, Ontario, Canada </p>
            <p>
                Scarborough, Ontario, Canada
                Mobile: (647)  389  0593 | Email: John.Almirol@triosstudent.com
            </p>
            <hr />
        </div>
        <div class="resumeBody">
            <div class="resume_body">
                <h1>OBJECTIVE:</h1>
                <p>It is my role to commit and dedicate my best efforts on my work by being the best that I can be. I value professional collaboration and harmonious relationship with my colleagues with utmost desire to engage in a healthy work environment. </p>
                <h1>HIGHLIGHT OF QUALIFICATION:</h1>
                <ul>
                    <li>Student – Enterprise Web and Mobile Developer Programming</li>
                    <li>Graduate - Personal Support Worker Diploma Certificate</li>
                    <li>Graduate – BS in Information Technology (Diploma Certificate)</li>
                    <li>Excellent communication and interpersonal skills, attention to details.</li>
                    <li>Ability to perform duties in a professional and courteous manner.</li>
                    <li>Calm under pressure and experience problem solver.</li>
                </ul>
                <h1>TECHNICAL SKILLS:</h1>
                <ul>
                    <li>Basic knowledge in Coding and programming.</li>
                    <li>Troubleshooting skills.</li>
                    <li>MS Word, Excel, and Power point</li>
                </ul>
            </div>
        </div>
        <div class="myExperience">
            <div class="experienceBody">
                <h1>WORK EXPERIENCE:</h1>
                <div class="experience">
                    <p>April 2019 - January 2020</p>
                    <p><strong>Machine Operator</strong> Dart Canada / 2121 Markham Rd., Scarborough, ON., M1B2W3</p>
                </div>
                <div class="experience">
                    <p>January 2018 - April 2019</p>
                    <p><strong>Machine Operator,</strong> Tradition Fine Foods Ltd / 663 Warden Ave, Scarborough, ON., M1L3Z5</p>
                </div>
                <div class="experience">
                    <p>AJune 2017 - December 2018</p>
                    <p><strong>Cashier,</strong> International New Plus / 25 York St. Toronto, ON. M5J 2V5</p>
                </div>
                <div class="experience">
                    <p>December 2016 - June 2017</p>
                    <p><strong>Assistant Machine Operator,</strong> Printer Gateway / 370 Brunel Road Mississauga ON. L4Z 2C2</p>
                </div>
                <div class="experience">
                    <p>September 2016 - January 2017 (On - Call)</p>
                    <p><strong>Assistant Machine Operator,</strong> Printer Gateway / 370 Brunel Road Mississauga ON. L4Z 2C2</p>
                </div>
                <div class="experience">
                    <p>September 2016 - January 2017 (On - Call)</p>
                    <p><strong>Personal Support Worker</strong> – Access Care Inc. / 1630 O Connor Dr., Toronto, Ontario M4B 3P4</p>
                </div>
                <div class="experience">
                    <p>August 2016 - July 2017 (On - Call)</p>
                    <p><strong>Personal Support Worker,</strong> First Health Care / 7030 Woodbine Ave., Markham, Ontario L3R 6G2</p>
                </div>
                <div class="experience">
                    <p>Jan 2015 - May 2015 </p>
                    <p><strong>Personal Support Worker,</strong> First Health Care / 7030 Woodbine Ave., Markham, Ontario L3R 6G2</p>
                </div>
                <div class="experience">
                    <p>July 2014 - Jan 2015</p>
                    <p><strong>Equipment Preventive Maintenance Staff Engineer,</strong> AUO Corp. / East District, Hsinchu City, Taiwan</p>
                </div>
                <div class="experience">
                    <p>April 2010 - Dec. 2011</p>
                    <p><strong>Auditor Staff and Cage Cashier,</strong> Oxford Princess Casino / Clark Freeport Zone, Pampanga, Philippines</p>
                </div>
            </div>         
        </div>

        <div class="myEducation">
            <div class="my_education">
                <h1>EDUCATION:</h1>
                <div class="education">
                    <p>April 2020 - Present</p>
                    <p><strong>Student as Enterprise Web Mobile Developer Programming</strong></p>
                    <p>triOS COLLEGE Business, Technology, Healthcare Toronto Campus</p>
                </div>
                <div class="education">
                    <p>Oct. 2015 - May 2016</p>
                    <p><strong>Student as Enterprise Web Mobile Developer Programming</strong></p>
                    <p>Canadian Career College of Innovative Technology and Management, Canada</p>
                </div>
                <div class="education">
                    <p>April 2005 - April 2009</p>
                    <p><strong>Diploma in Bachelors of Science in Information and Communication Technology</strong></p>
                    <p>Isabela State University, Philippines </p>
                </div>
            </div>
        </div>
        <div class="myCertification">
            <div class="my_certification">
                <h1>CERTIFICATION</h1>
                <div class="certification">
                    <p>April 2005 - April 2009</p>
                    <p><strong>Standard First Aid HCP Certificate</strong></p>
                    <p>Canadian Career College of Innovative Technology and Management, Canada</p>
                </div> 
                <div class="certification">
                    <p>June 2016 – Present</p>
                    <p><strong>National Association of Career Colleges Canada</strong></p>
                    <p>Canadian Career College of Innovative Technology and Management, Canada</p>
                </div>          
            </div>
        </div>
    </div>
    
</section>
